.AddBook label {
    display: block;
    font-weight: bold;
    margin-top: 0.5rem;
    line-height: 1.4;
}

.AddBook input {
    width: 100%;
}

.AddBook button {
    background: #8888ee;
    transition: background 0.3s ease;
}

.AddBook button:hover {          
    background: blue;
}
