@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  h1 {
    @apply mb-3;
  }

  .btn-primary {
    @apply flex-shrink-0 bg-teal-500 hover:bg-teal-700 text-base text-white py-2 px-5 rounded
  }

  .btn-cancel {
    @apply flex-shrink-0 bg-gray-500 hover:bg-gray-700 text-base text-white py-2 px-5 rounded
  }

  .input-primary {
    @apply text-base appearance-none border rounded border-gray-500 w-full py-2 px-3 text-gray-700 leading-tight;
  }

  .form-label {
    @apply block text-gray-700 text-sm font-bold mb-2 uppercase;
  }

  .error-label {
    @apply font-normal normal-case text-red-500 text-xs italic !important;
  }
}